@keyframes spinAround {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
body,
h1,
h2,
h3,
hr,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-size: 100%;
  font-weight: 400;
  font-family: "Open Sans", system-ui, "Microsoft Yahei", sans-serif;
}
ul {
  list-style: none;
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
:after,
:before {
  box-sizing: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  padding: 0;
  text-align: left;
}
html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}
article,
footer,
section {
  display: block;
}
body {
  font-family: "Open Sans", system-ui, sans-serif;
}
body {
  color: #0c8484;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #148f77;
}
hr {
  background-color: #dee2e5;
  border: none;
  display: block;
  height: 1px;
  margin: 1.5rem 0;
}
span {
  font-style: inherit;
  font-weight: inherit;
}
table td {
  text-align: left;
  vertical-align: top;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.is-size-7 {
  font-size: 0.85em !important;
}
.has-text-centered {
  text-align: center !important;
}
.has-text-grey {
  color: #8c9b9d !important;
}
.has-text-white-ter {
  color: #dfe6e8 !important;
}
.has-text-weight-bold {
  font-weight: 700 !important;
}
.button.is-focused:not(:active),
.button:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.button.is-white.is-focused:not(:active),
.button.is-white:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25);
}
.button.is-black.is-focused:not(:active),
.button.is-black:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(10, 10, 10, 0.25);
}
.button.is-light.is-focused:not(:active),
.button.is-light:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(236, 240, 241, 0.25);
}
.button.is-dark.is-focused:not(:active),
.button.is-dark:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(54, 54, 54, 0.25);
}
.button.is-primary.is-focused:not(:active),
.button.is-primary:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(52, 73, 94, 0.25);
}
.button.is-link.is-focused:not(:active),
.button.is-link:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
.button.is-info.is-focused:not(:active),
.button.is-info:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(32, 156, 238, 0.25);
}
.button.is-success.is-focused:not(:active),
.button.is-success:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(46, 204, 113, 0.25);
}
.button.is-warning.is-focused:not(:active),
.button.is-warning:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(241, 183, 14, 0.25);
}
.button.is-danger.is-focused:not(:active),
.button.is-danger:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(231, 76, 60, 0.25);
}
.container {
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
    width: 960px;
  }
}
@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
    width: 1152px;
  }
}
@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
    width: 1344px;
  }
}
.content li + li {
  margin-top: 0.25em;
}
.content p:not(:last-child) {
  margin-bottom: 1em;
}
.content h1,
.content h3 {
  color: #2b3c4e;
  font-weight: 400;
  line-height: 1.025;
}
.content h1 {
  font-size: 1.75em;
  margin-bottom: 0.5em;
}
.content h3 {
  font-size: 1.25em;
  margin-bottom: 1.25em;
}
.content h3:not(:first-child) {
  margin-top: 1.3333em;
}
.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 0em;
}
.content table {
  width: 100%;
}
.content table td {
  border: 1px solid #dee2e5;
  border-width: 0 0 1px;
  vertical-align: top;
}
.content table tbody tr:last-child td {
  border-bottom-width: 0;
}
.table {
  background-color: #fff;
  color: #363636;
  margin-bottom: 1.5rem;
}
.table td {
  border: 1px solid #dee2e5;
  border-width: 0 0 1px;
  padding: 0;
  vertical-align: top;
}
.table tbody tr:last-child td {
  border-bottom-width: 0;
}
.title {
  word-break: break-word;
}
.title:not(:last-child) {
  margin-bottom: 1.5rem;
}
.title {
  color: #363636;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.125;
  text-align: center;
}
.title.is-3 {
  font-size: 1.25rem;
}
.breadcrumb {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-items: stretch;
  display: flex;
  font-size: 0.825rem;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.breadcrumb:not(:last-child) {
  margin-bottom: 1.5rem;
}
.breadcrumb a {
  align-items: center;
  color: #3273dc;
  display: flex;
  justify-content: center;
  padding: 0.25em 0.275em;
}
.breadcrumb a:hover {
  color: #148f77;
}
.breadcrumb li {
  align-items: center;
  display: flex;
}
.breadcrumb li:first-child a {
  padding-left: 0;
}
.breadcrumb li + li::before {
  color: #0c8484;
  content: ">";
}
.breadcrumb ul {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
}
.navbar {
  background-color: #0c8484;
  min-height: 4rem;
  position: relative;
}
.navbar > .container {
  align-items: stretch;
  display: flex;
  min-height: 4rem;
  width: 100%;
}
.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 4rem;
}
.navbar-burger {
  cursor: pointer;
  display: block;
  height: 4rem;
  position: relative;
  width: 4rem;
  margin-left: auto;
}
.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 16px;
}
.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px);
}
.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}
.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}
.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.navbar-menu {
  display: none;
}
.navbar-item {
  color: #dfe6e8;
  display: block;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  position: relative;
}
a.navbar-item:hover {
  background-color: transparent;
  color: #1abc9c;
}
.navbar-item {
  flex-grow: 0;
  flex-shrink: 0;
}
@media screen and (max-width: 1023px) {
  .navbar > .container {
    display: block;
  }
  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }
  .navbar-menu {
    background-color: #0c8484;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .navbar,
  .navbar-end,
  .navbar-menu {
    align-items: stretch;
    display: flex;
  }
  .navbar {
    min-height: 4rem;
  }
  .navbar-burger {
    display: none;
  }
  .navbar-item {
    align-items: center;
    display: flex;
  }
  .navbar-menu {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }
  .navbar > .container .navbar-brand {
    margin-left: -1rem;
  }
  .navbar > .container .navbar-menu {
    margin-right: -1rem;
  }
  a.navbar-item.is-active:not(:hover),
  a.navbar-link.is-active:not(:hover) {
    background-color: transparent;
  }
}
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}
@media screen and (min-width: 769px), print {
  .column.is-offset-1 {
    margin-left: 8.33333%;
  }
  .column.is-10 {
    flex: none;
    width: 83.33333%;
  }
}
.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}
.columns:last-child {
  margin-bottom: -0.75rem;
}
@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    display: flex;
  }
}
.section {
  padding: 3rem 1.5rem;
}
.footer {
  background-color: #dfe6e8;
  padding: 3rem 1.5rem 3rem;
}
hr {
  height: 1px;
}
a {
  transition: all 0.2s ease;
}
.navbar {
  border-radius: 0.4em;
}
.navbar .navbar-menu {
  box-shadow: none;
}
@media screen and (max-width: 1023px) {
  .navbar {
    color: #dfe6e8;
  }
  .navbar .navbar-menu {
    background-color: #dfe6e8;
    border-radius: 0;
  }
  .navbar .navbar-item:not(.is-active):not(:hover),
  .navbar .navbar-link:not(.is-active):not(:hover) {
    color: #0c8484;
  }
}
body > .navbar {
  border-radius: 0;
}
.hero.is-white .navbar .navbar-item:not(.is-active):not(:hover),
.hero.is-white .navbar .navbar-link:not(.is-active):not(:hover) {
  color: #0a0a0a;
}
@media screen and (min-width: 1024px) {
  .hero.is-white
    .navbar
    .navbar-dropdown
    .navbar-item:not(.is-active):not(:hover) {
    color: #0c8484;
  }
}
.hero.is-black .navbar .navbar-item:not(.is-active):not(:hover),
.hero.is-black .navbar .navbar-link:not(.is-active):not(:hover) {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .hero.is-black
    .navbar
    .navbar-dropdown
    .navbar-item:not(.is-active):not(:hover) {
    color: #0c8484;
  }
}
.hero.is-light .navbar .navbar-item:not(.is-active):not(:hover),
.hero.is-light .navbar .navbar-link:not(.is-active):not(:hover) {
  color: #363636;
}
@media screen and (min-width: 1024px) {
  .hero.is-light
    .navbar
    .navbar-dropdown
    .navbar-item:not(.is-active):not(:hover) {
    color: #0c8484;
  }
}
.hero.is-dark .navbar .navbar-item:not(.is-active):not(:hover),
.hero.is-dark .navbar .navbar-link:not(.is-active):not(:hover) {
  color: #dfe6e8;
}
@media screen and (min-width: 1024px) {
  .hero.is-dark
    .navbar
    .navbar-dropdown
    .navbar-item:not(.is-active):not(:hover) {
    color: #0c8484;
  }
}
.hero.is-primary .navbar .navbar-item:not(.is-active):not(:hover),
.hero.is-primary .navbar .navbar-link:not(.is-active):not(:hover) {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .hero.is-primary
    .navbar
    .navbar-dropdown
    .navbar-item:not(.is-active):not(:hover) {
    color: #0c8484;
  }
}
.hero.is-link .navbar .navbar-item:not(.is-active):not(:hover),
.hero.is-link .navbar .navbar-link:not(.is-active):not(:hover) {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .hero.is-link
    .navbar
    .navbar-dropdown
    .navbar-item:not(.is-active):not(:hover) {
    color: #0c8484;
  }
}
.hero.is-info .navbar .navbar-item:not(.is-active):not(:hover),
.hero.is-info .navbar .navbar-link:not(.is-active):not(:hover) {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .hero.is-info
    .navbar
    .navbar-dropdown
    .navbar-item:not(.is-active):not(:hover) {
    color: #0c8484;
  }
}
.hero.is-success .navbar .navbar-item:not(.is-active):not(:hover),
.hero.is-success .navbar .navbar-link:not(.is-active):not(:hover) {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .hero.is-success
    .navbar
    .navbar-dropdown
    .navbar-item:not(.is-active):not(:hover) {
    color: #0c8484;
  }
}
.hero.is-warning .navbar .navbar-item:not(.is-active):not(:hover),
.hero.is-warning .navbar .navbar-link:not(.is-active):not(:hover) {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .hero.is-warning
    .navbar
    .navbar-dropdown
    .navbar-item:not(.is-active):not(:hover) {
    color: #0c8484;
  }
}
.hero.is-danger .navbar .navbar-item:not(.is-active):not(:hover),
.hero.is-danger .navbar .navbar-link:not(.is-active):not(:hover) {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .hero.is-danger
    .navbar
    .navbar-dropdown
    .navbar-item:not(.is-active):not(:hover) {
    color: #0c8484;
  }
}
html {
  background-color: #dfe6e8 !important;
}
body > section {
  background-color: #fff !important;
}
@media screen and (max-width: 1023px) {
  .navbar > .container {
    display: block;
  }
  .navbar-brand .navbar-item,
  .navbar-tabs .navbar-item {
    align-items: center;
    display: flex;
  }
  .navbar-menu {
    background-color: #0c8484;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    padding: 0.5rem 0;
  }
  .navbar-menu.is-active {
    display: block;
  }
  .navbar.is-fixed-bottom-touch,
  .navbar.is-fixed-top-touch {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
  }
  .navbar.is-fixed-bottom-touch {
    bottom: 0;
  }
  .navbar.is-fixed-bottom-touch.has-shadow {
    box-shadow: 0 -2px 3px rgba(10, 10, 10, 0.1);
  }
  .navbar.is-fixed-top-touch {
    top: 0;
  }
  .navbar.is-fixed-top .navbar-menu,
  .navbar.is-fixed-top-touch .navbar-menu {
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 4rem);
    overflow: auto;
  }
  html.has-navbar-fixed-top-touch {
    padding-top: 4rem;
  }
  html.has-navbar-fixed-bottom-touch {
    padding-bottom: 4rem;
  }
}
